<app-header></app-header>
 <div class="container">
  <!-- <div> 
     <select>
        <option *ngFor="let category of CategoryList">
            {{category.Name}}
        </option>
    </select> 
 </div> -->
          <table *ngIf="IsPurshased" class="table table-striped  m-3" >
              <thead>
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Title</th>
                  <th scope="col">Price</th>
                  <th scope="col">Description</th>
                  <th scope="col">Category</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Image</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of ProductList" scope="row">
                  <th >{{product.id}}</th>
                  <td>{{product.title}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.category}}</td>
                  <td>{{product.rating.rate}}</td>
                  <td><img style="width:70%" src="{{product.image}}"></td>
                  <td><button class="btn" style="background-color:gray;" >Buy</button></td>
              </tr>
              </tbody>
          </table>
        


 <button (click)="PrintMsg()" class="btn  m-2" style="background-color:gray;">Show and hide </button>
<br> 


<!-- <div class="d-flex justify-content-center flex-wrap my-3">
    <div *ngFor="let product of ProductList" class="card mx-2 my-2" style="width: 18rem;">
      <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">{{product.id}}</h3>
        <h4 class="card-title">{{product.title}}</h4>
        <h5 class="card-title">{{product.category}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rating : {{product.rating.rate}}</li>
        <li class="list-group-item">Price : {{product.price}}</li>
        <li class="list-group-item">Description : {{product.description}}</li>
        <button class="btn" style="background-color:gray;" (click)="PrintMsg()">Buy</button>
      </ul>
      <div class="card-body"> -->
        <!-- <button class="btn btn-primary" (click)="goToProduct(Product)">Detials More</button> -->
      <!-- </div>
    </div>
  </div> -->
  <button class="btn mt-3 mb-3" style="background-color:gray; margin-right: 50px;"(click)="WithDiscount()">Product with Discount</button>

<button class="btn mt-3 mb-3" style="background-color:gray;" (click)="WithNoDiscount()">Products without Discount</button>
  <router-outlet></router-outlet>
<app-footer></app-footer>
